.zoom:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
   position: relative;
   z-index: 10;
}

.zoom-l:hover img {
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.5);
   position: relative;
   z-index: 10;
}

.zoom-xl:hover {
  -webkit-transform:scale(1.85); /* Safari and Chrome */
  -moz-transform:scale(1.85); /* Firefox */
  -ms-transform:scale(1.85); /* IE 9 */
  -o-transform:scale(1.85); /* Opera */
   transform:scale(1.85);
   position: relative;
   z-index: 10;
}